[run]
omit =
    *tests*

[report]
omit =
    *tests*
exclude_lines =
    def main()
    if __name__ == "__main__":
    try:
        import urllib3.contrib.pyopenssl
        urllib3.contrib.pyopenssl.inject_into_urllib3()
    except ImportError:
        pass
show_missing = True
